*{
    margin: 0px;
    padding: 0px;
    font-family: "Pixelify Sans", sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0;
}
.container{
    width: auto;
    height: auto;
    position: relative; 
}
.leg{
    width: 30px;
    height: 80px;
    position: absolute;
    left:80%;
    bottom: -20%;
    background: silver ;
    transform: rotate(-30deg);
    border-radius: 20px;
    z-index: -10;
}

.leg-rotated{
    transform: rotate(30deg);
    background: silver;
    position: absolute;
    left: 10%;
    bottom: -20%;
}
.base{
   width: 350px;
   height: auto;
    border-radius: 50%;
    position: relative;
    background: rgb(255, 18, 18);
    box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.842);
}
.bell{
    width: 80px;
    height: 60px;
    right: 90%;
    top: -20%; 
    border-radius: 50% 50% 25% 25%;
    position: absolute;
    background:rgb(255, 18, 18);
    transform: rotate(-30deg);
    animation: swing 2s ease-in-out infinite;
}

.bell-rotated{
   transform: rotate(30deg);
   background: rgb(225, 18, 16);
   position: absolute;
   left: 90%;
   top: -20%  ;
   animation: swing2 2s ease-in-out infinite;
}

.metal{
    width: 30px;
    height:10px;
    top: -10%;
    left:50%;
    position: absolute;
    background: silver;
    animation: nudge 0.5s infinite;
}
@keyframes nudge {
  0%, 100% {
    transform: translate(-60px, 0);
  }
  
  50% {
    transform: translate(60px, 0);
  }

}
@keyframes swing {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

@keyframes swing2 {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}



.clock{
    background: whitesmoke;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 14px solid rgb(255, 18, 18);
    position: relative;
    margin: 8% auto 0;
    margin-top: 20%;
    
}


.dot{
    width: 12px;
    height:12px;
    background:#070707;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    /* position: relative; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 2px 4px -1px black;
    z-index: 10;
}

.hand{
    position: absolute;
    left: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}
/* z-index is the layer that its on- stacked up */
.hour-hand{
    z-index: 5;
    width: 4px;
    height: 65px;
    background: black;
    top: 70px;
    margin-left: -2px;
    transform-origin: 50% 69px;
}

.minute-hand{
    z-index: 6;
    width: 4px;
    height: 100px;
    background: rgb(129, 125, 125);
    top: 40px;
    margin-left: -2px;
    transform-origin: 50% 99px;
}

.second-hand{
    z-index: 7;
    width: 2px;
    height: 120px;
    background: red;
    top:11px;
    margin-left: -1px;
    transform-origin: 50% 124px;
}

.info{
    position: absolute;
    background:#ccc ;
    width: 68px;
    font-size: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.date{
    top: 55px;
    left: 105px;
}

.day{
    top: 200px;
    left: 105px;
}

.session{
    top: 120px;
    right: 30px;
    width: 30px;
}

span{
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -5px;
    transform-origin: 50% 138px;
    top: -1px;
}

.interval {
    width: 1px;
    height: 10px;
    background: #666;
    margin-left: -1px;
}