*{
    font-family: "Gravitas One", serif;
}
.title {
    margin-top: 2vh;
    font-size: 100px;
    font-weight: 700;
    color: #333;
    line-height: 1.2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.project-img {
    margin-top: 50px;
    height: auto;
    object-fit: contain;
}

.project-placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    width: 30vw;
    min-height: 300px;
    background-color: #dfabc3; 
    border: 3px solid #333; 
    position: relative;
}

.homework-section {
    padding: 50px 0;
}
.homework-card {
    margin-bottom: 30px;
    text-align: center;
}

.homework-card img {
    margin-bottom: 15px;
    transition: transform 0.3s ease;      
    min-width: 300px; 
   
}

.homework-card img:hover {
    transform: scale(1.05);
}

.homework-text {
    font-size: 16px;
    margin-top: 10px;
}

.container{
    padding-top: 100px; 
    padding-bottom: 50px;
}

.header{
    font-size: 28px;
    font-weight: bold;
    
}
.header2{
    font-size: 40px;
    font-weight: bold;
    
}

.documentation {
     font-size: 18px;
     font-weight: bold;
    
}

.description{
     font-size: 18px;
     font-weight: bold;
    
}